@media (max-width: 768px) {
	.nav-li {
		font-size: 18px;
	}
	.form  {
		font-size: 18px;
	}
	.contact p {
       font-size: 15px;
	}
	.address p {
		font-size: 15px;
	}
	.banner {
		padding: 0px 20px 0px 20px;
	}
}
@media (max-width: 480px) {
	.nav-li {
		font-size: 20px;
	}
	.form  {
		font-size: 18px;
	}
	.contact p {
       font-size: 15px;
	}
	.address p {
		font-size: 15px;
	}
	.nav-ul {
		display: flex;
		flex-direction: column;
	}
}